#map {
  height:100%;
  width:100%;
}

body {
  margin: 0;
  padding: 0;
}

.map-header {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 0;
  padding: 8px;
  color: #eee;
  background: rgba(0, 0, 0, .5);
}
